# Dataset
data/

# Uploads
backend/uploads/

# Training outputs
model_training/logs/
model_training/reports/

# Models
models/
saved_models/
# Ignore all models except the deployed model
*.keras
!model_training/saved_models/efficientnet_finetuned.keras
*.h5
*.pt
*.pth

# Python
.venv/
__pycache__/
*.pyc

# Environment
.env

backend/uploads/