# ==========================
# Deep Learning
# ==========================
tensorflow==2.17.0

# ==========================
# Data Science
# ==========================
numpy
pandas
matplotlib
scikit-learn
seaborn

# ==========================
# Image Processing
# ==========================
opencv-python
Pillow

# ==========================
# Jupyter
# ==========================
jupyter

# ==========================
# Backend
# ==========================
fastapi
uvicorn

# ==========================
# Frontend
# ==========================
streamlit

# ==========================
# Database
# ==========================
sqlalchemy
psycopg2-binary

# ==========================
# Environment Variables
# ==========================
python-dotenv

# ==========================
# Progress Bar
# ==========================
tqdm

# ==========================
# Explainable AI
# ==========================
grad-cam

# ==========================
# Testing
# ==========================
pytest